# MySQL connection

In [43]:
import MySQLdb as mdb
con = mdb.connect('localhost', 'root', '123', 'acorn')

In [54]:
try:
    con.query('select version()')
    result = con.use_result()
    
    print 'mysql version: %s' % result.fetch_row()[0]

except mdb.Error, e:
    print 'error %d: %s' % (e.args[0], e.args[1])
    sys.exit(1)
    
finally:
    if con:
        con.close()

mysql version: 5.7.17-0ubuntu0.16.04.1

# Creating and populating a table

In [83]:
con = mdb.connect('localhost', 'root', '123', 'acorn')
cur = con.cursor()
cur.execute('create table pet(name varchar(20), owner varchar(20), species varchar(20), sex char(1), birth date, death date)')
print cur.description

None

In [84]:
sql = "insert into pet(name, owner, species, sex, birth, death) values (%s, %s, %s, %s, %s, %s)"
cur.execute(sql, ('yuri10', 'jong', 'cat', 'f', '2014-1-1', '2015-7-31'))
con.commit()

In [85]:
cur.execute(sql, ('yuri11', 'jong', 'cat', 'f', '2014-1-1', '2015-7-31'))
con.commit()

In [86]:
cur.execute(sql, ('yuri12', 'jong', 'cat', 'f', '2014-1-1', '2015-7-31'))
con.commit()

In [87]:
cur.execute(sql, ('yuri13', 'jong', 'cat', 'f', '2014-1-1', '2015-7-31'))
con.commit()

In [102]:
cur.execute("select * from pet")
print cur.rowcount

4

In [101]:
print cur.description

(('name', 253, 6, 20, 20, 0, 1), ('owner', 253, 4, 20, 20, 0, 1), ('species', 253, 3, 20, 20, 0, 1), ('sex', 254, 1, 1, 1, 0, 1), ('birth', 10, 10, 10, 10, 0, 1), ('death', 10, 10, 10, 10, 0, 1))

In [103]:
cur.fetchall()

(('yuri10',
  'jong',
  'cat',
  'f',
  datetime.date(2014, 1, 1),
  datetime.date(2015, 7, 31)),
 ('yuri11',
  'jong',
  'cat',
  'f',
  datetime.date(2014, 1, 1),
  datetime.date(2015, 7, 31)),
 ('yuri12',
  'jong',
  'cat',
  'f',
  datetime.date(2014, 1, 1),
  datetime.date(2015, 7, 31)),
 ('yuri13',
  'jong',
  'cat',
  'f',
  datetime.date(2014, 1, 1),
  datetime.date(2015, 7, 31)))

In [104]:
cur.execute("select * from pet")
cur.fetchone()

('yuri10',
 'jong',
 'cat',
 'f',
 datetime.date(2014, 1, 1),
 datetime.date(2015, 7, 31))

In [105]:
cur.execute("select * from pet")
cur.fetchmany(3)

(('yuri10',
  'jong',
  'cat',
  'f',
  datetime.date(2014, 1, 1),
  datetime.date(2015, 7, 31)),
 ('yuri11',
  'jong',
  'cat',
  'f',
  datetime.date(2014, 1, 1),
  datetime.date(2015, 7, 31)),
 ('yuri12',
  'jong',
  'cat',
  'f',
  datetime.date(2014, 1, 1),
  datetime.date(2015, 7, 31)))

In [82]:
con.close()

# execute many

In [125]:
con = mdb.connect('localhost', 'root', '123', 'acorn')
cur = con.cursor()

In [130]:
#con = mdb.connect('localhost', 'root', '123', 'acorn')
#cur.execute('create table pet(name varchar(20), owner varchar(20), species varchar(20), sex char(1), birth date, death date)')
#print cur.description
sql = "insert into pet(name, owner, species, sex, birth, death) values (%s, %s, %s, %s, %s, %s)"
#cur.execute(sql, ('yuri10', 'jong', 'cat', 'f', '2014-1-1', '2015-7-31'))
cur.executemany(sql, [('yuri18', 'jong', 'cat', 'f', '2014-1-1', '2015-7-31'), 
                      ('yuri19', 'jong', 'cat', 'f', '2014-1-1', '2015-7-31'),
                      ('yuri20', 'jong', 'cat', 'f', '2014-1-1', '2015-7-31'),
                      ('yuri21', 'jong', 'cat', 'f', '2014-1-1', '2015-7-31')])

4L

In [131]:
con.commit()

In [132]:
cur.execute("select * from pet")
cur.fetchall()

(('yuri10',
  'jong',
  'cat',
  'f',
  datetime.date(2014, 1, 1),
  datetime.date(2015, 7, 31)),
 ('yuri11',
  'jong',
  'cat',
  'f',
  datetime.date(2014, 1, 1),
  datetime.date(2015, 7, 31)),
 ('yuri12',
  'jong',
  'cat',
  'f',
  datetime.date(2014, 1, 1),
  datetime.date(2015, 7, 31)),
 ('yuri13',
  'jong',
  'cat',
  'f',
  datetime.date(2014, 1, 1),
  datetime.date(2015, 7, 31)),
 ('yuri14',
  'jong',
  'cat',
  'f',
  datetime.date(2014, 1, 1),
  datetime.date(2015, 7, 31)),
 ('yuri15',
  'jong',
  'cat',
  'f',
  datetime.date(2014, 1, 1),
  datetime.date(2015, 7, 31)),
 ('yuri16',
  'jong',
  'cat',
  'f',
  datetime.date(2014, 1, 1),
  datetime.date(2015, 7, 31)),
 ('yuri17',
  'jong',
  'cat',
  'f',
  datetime.date(2014, 1, 1),
  datetime.date(2015, 7, 31)),
 ('yuri14',
  'jong',
  'cat',
  'f',
  datetime.date(2014, 1, 1),
  datetime.date(2015, 7, 31)),
 ('yuri15',
  'jong',
  'cat',
  'f',
  datetime.date(2014, 1, 1),
  datetime.date(2015, 7, 31)),
 ('yuri16',
  'jong',
  'cat',
  'f',
  datetime.date(2014, 1, 1),
  datetime.date(2015, 7, 31)),
 ('yuri17',
  'jong',
  'cat',
  'f',
  datetime.date(2014, 1, 1),
  datetime.date(2015, 7, 31)),
 ('yuri14',
  'jong',
  'cat',
  'f',
  datetime.date(2014, 1, 1),
  datetime.date(2015, 7, 31)),
 ('yuri15',
  'jong',
  'cat',
  'f',
  datetime.date(2014, 1, 1),
  datetime.date(2015, 7, 31)),
 ('yuri16',
  'jong',
  'cat',
  'f',
  datetime.date(2014, 1, 1),
  datetime.date(2015, 7, 31)),
 ('yuri17',
  'jong',
  'cat',
  'f',
  datetime.date(2014, 1, 1),
  datetime.date(2015, 7, 31)),
 ('yuri18',
  'jong',
  'cat',
  'f',
  datetime.date(2014, 1, 1),
  datetime.date(2015, 7, 31)),
 ('yuri19',
  'jong',
  'cat',
  'f',
  datetime.date(2014, 1, 1),
  datetime.date(2015, 7, 31)),
 ('yuri20',
  'jong',
  'cat',
  'f',
  datetime.date(2014, 1, 1),
  datetime.date(2015, 7, 31)),
 ('yuri21',
  'jong',
  'cat',
  'f',
  datetime.date(2014, 1, 1),
  datetime.date(2015, 7, 31)),
 ('yuri18',
  'jong',
  'cat',
  'f',
  datetime.date(2014, 1, 1),
  datetime.date(2015, 7, 31)),
 ('yuri19',
  'jong',
  'cat',
  'f',
  datetime.date(2014, 1, 1),
  datetime.date(2015, 7, 31)),
 ('yuri20',
  'jong',
  'cat',
  'f',
  datetime.date(2014, 1, 1),
  datetime.date(2015, 7, 31)),
 ('yuri21',
  'jong',
  'cat',
  'f',
  datetime.date(2014, 1, 1),
  datetime.date(2015, 7, 31)))