In [3]:
a = range(10)

In [4]:
a.append(1)

In [5]:
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 1]

In [6]:
a.pop(1)

1

In [7]:
a

[0, 2, 3, 4, 5, 6, 7, 8, 9, 1]

In [11]:
b = [7, 2, 5, 1, 3]
b.sort(reverse = True)
b

[7, 5, 3, 2, 1]

In [12]:
b = ['saw', 'small', 'he', 'foxes', 'six']
b.sort(key = len)
b

['he', 'saw', 'six', 'small', 'foxes']

In [14]:
b.sort()
b

['foxes', 'he', 'saw', 'six', 'small']

In [50]:
# 요소 선택 정렬
#-*- coding: utf-8 -*-
sungjuk = [["haha", 100, 100, 100], ['yoo', 99, 99, 98], ['choo', 90, 98, 91]]
sungjuk.sort()
sungjuk

[['choo', 90, 98, 91], ['haha', 100, 100, 100], ['yoo', 99, 99, 98]]

In [48]:
def getKey(a1):
    return a1[1]

In [49]:
sungjuk.sort(key = getKey)
sungjuk

[['choo', 90, 98, 91], ['yoo', 99, 99, 98], ['haha', 100, 100, 100]]

# List

In [70]:
L = [k * k for k in range(10) if k % 2]

In [71]:
L

[1, 9, 25, 49, 81]

In [33]:
K = [(i, j, i * j) for i in range(2, 100, 2) for j in range(3, 100, 3) 
     if ((i + j) % 7 == 0)]
print K

[(2, 12, 24), (2, 33, 66), (2, 54, 108), (2, 75, 150), (2, 96, 192), (4, 3, 12), (4, 24, 96), (4, 45, 180), (4, 66, 264), (4, 87, 348), (6, 15, 90), (6, 36, 216), (6, 57, 342), (6, 78, 468), (6, 99, 594), (8, 6, 48), (8, 27, 216), (8, 48, 384), (8, 69, 552), (8, 90, 720), (10, 18, 180), (10, 39, 390), (10, 60, 600), (10, 81, 810), (12, 9, 108), (12, 30, 360), (12, 51, 612), (12, 72, 864), (12, 93, 1116), (14, 21, 294), (14, 42, 588), (14, 63, 882), (14, 84, 1176), (16, 12, 192), (16, 33, 528), (16, 54, 864), (16, 75, 1200), (16, 96, 1536), (18, 3, 54), (18, 24, 432), (18, 45, 810), (18, 66, 1188), (18, 87, 1566), (20, 15, 300), (20, 36, 720), (20, 57, 1140), (20, 78, 1560), (20, 99, 1980), (22, 6, 132), (22, 27, 594), (22, 48, 1056), (22, 69, 1518), (22, 90, 1980), (24, 18, 432), (24, 39, 936), (24, 60, 1440), (24, 81, 1944), (26, 9, 234), (26, 30, 780), (26, 51, 1326), (26, 72, 1872), (26, 93, 2418), (28, 21, 588), (28, 42, 1176), (28, 63, 1764), (28, 84, 2352), (30, 12, 360), (30, 33, 990), (30, 54, 1620), (30, 75, 2250), (30, 96, 2880), (32, 3, 96), (32, 24, 768), (32, 45, 1440), (32, 66, 2112), (32, 87, 2784), (34, 15, 510), (34, 36, 1224), (34, 57, 1938), (34, 78, 2652), (34, 99, 3366), (36, 6, 216), (36, 27, 972), (36, 48, 1728), (36, 69, 2484), (36, 90, 3240), (38, 18, 684), (38, 39, 1482), (38, 60, 2280), (38, 81, 3078), (40, 9, 360), (40, 30, 1200), (40, 51, 2040), (40, 72, 2880), (40, 93, 3720), (42, 21, 882), (42, 42, 1764), (42, 63, 2646), (42, 84, 3528), (44, 12, 528), (44, 33, 1452), (44, 54, 2376), (44, 75, 3300), (44, 96, 4224), (46, 3, 138), (46, 24, 1104), (46, 45, 2070), (46, 66, 3036), (46, 87, 4002), (48, 15, 720), (48, 36, 1728), (48, 57, 2736), (48, 78, 3744), (48, 99, 4752), (50, 6, 300), (50, 27, 1350), (50, 48, 2400), (50, 69, 3450), (50, 90, 4500), (52, 18, 936), (52, 39, 2028), (52, 60, 3120), (52, 81, 4212), (54, 9, 486), (54, 30, 1620), (54, 51, 2754), (54, 72, 3888), (54, 93, 5022), (56, 21, 1176), (56, 42, 2352), (56, 63, 3528), (56, 84, 4704), (58, 12, 696), (58, 33, 1914), (58, 54, 3132), (58, 75, 4350), (58, 96, 5568), (60, 3, 180), (60, 24, 1440), (60, 45, 2700), (60, 66, 3960), (60, 87, 5220), (62, 15, 930), (62, 36, 2232), (62, 57, 3534), (62, 78, 4836), (62, 99, 6138), (64, 6, 384), (64, 27, 1728), (64, 48, 3072), (64, 69, 4416), (64, 90, 5760), (66, 18, 1188), (66, 39, 2574), (66, 60, 3960), (66, 81, 5346), (68, 9, 612), (68, 30, 2040), (68, 51, 3468), (68, 72, 4896), (68, 93, 6324), (70, 21, 1470), (70, 42, 2940), (70, 63, 4410), (70, 84, 5880), (72, 12, 864), (72, 33, 2376), (72, 54, 3888), (72, 75, 5400), (72, 96, 6912), (74, 3, 222), (74, 24, 1776), (74, 45, 3330), (74, 66, 4884), (74, 87, 6438), (76, 15, 1140), (76, 36, 2736), (76, 57, 4332), (76, 78, 5928), (76, 99, 7524), (78, 6, 468), (78, 27, 2106), (78, 48, 3744), (78, 69, 5382), (78, 90, 7020), (80, 18, 1440), (80, 39, 3120), (80, 60, 4800), (80, 81, 6480), (82, 9, 738), (82, 30, 2460), (82, 51, 4182), (82, 72, 5904), (82, 93, 7626), (84, 21, 1764), (84, 42, 3528), (84, 63, 5292), (84, 84, 7056), (86, 12, 1032), (86, 33, 2838), (86, 54, 4644), (86, 75, 6450), (86, 96, 8256), (88, 3, 264), (88, 24, 2112), (88, 45, 3960), (88, 66, 5808), (88, 87, 7656), (90, 15, 1350), (90, 36, 3240), (90, 57, 5130), (90, 78, 7020), (90, 99, 8910), (92, 6, 552), (92, 27, 2484), (92, 48, 4416), (92, 69, 6348), (92, 90, 8280), (94, 18, 1692), (94, 39, 3666), (94, 60, 5640), (94, 81, 7614), (96, 9, 864), (96, 30, 2880), (96, 51, 4896), (96, 72, 6912), (96, 93, 8928), (98, 21, 2058), (98, 42, 4116), (98, 63, 6174), (98, 84, 8232)]

In [76]:
seq1 = 'abc'
seq2 = (1, 2, 3)

In [77]:
isinstance(seq1, str)

True

In [78]:
isinstance(seq2, tuple)

True

In [80]:
list1 = [(x, y) for x in seq1 for y in seq2]
list1

[('a', 1),
 ('a', 2),
 ('a', 3),
 ('b', 1),
 ('b', 2),
 ('b', 3),
 ('c', 1),
 ('c', 2),
 ('c', 3)]

In [94]:
y = (x * x for x in range(10))
y

In [82]:
z = [x * x for x in range(10)]
z

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [91]:
sum(x * x for x in range(10))

285

In [87]:
list2 = mat = [[0] * 4 for x in range(3)]
list2

[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]

In [85]:
list2[0][0] = 100
list2[0][0]

100

In [95]:
list2

[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]

# Tuple

In [97]:
tup = 4, 5, 6
tup

(4, 5, 6)

In [100]:
tup2 = tup[:2]
tup2

(4, 5)

In [101]:
nested_tup = (4, 5, 6), (7, 8)
nested_tup

((4, 5, 6), (7, 8))

In [102]:
cast_tuple = tuple([4, 0, 2])
cast_tuple

(4, 0, 2)

In [103]:
cast_tuple1 = ([4, 0, 2])
cast_tuple1

[4, 0, 2]

In [104]:
cast_tup = tuple('string')
cast_tup

('s', 't', 'r', 'i', 'n', 'g')

In [106]:
tup_gob = ('foo', 'bar') * 4
tup_gob

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

In [107]:
tup = 4, 5, (6, 7)
a, b, (c, d) = tup
a, b, (c, d)

(4, 5, (6, 7))

In [108]:
a, b, c, d

(4, 5, 6, 7)

In [123]:
# 인수로 넣는 값이 tup에 있는지 확인하는 것
tup.count((6,7))

1

In [122]:
z = [1, 2, 3]
z.count(5)

0

In [27]:
def calc(a, b):
    return a + b, a * b
x, y = calc(3, 4)
x, y

(7, 12)

In [130]:
format1 = 'name = %s, age = %s' % ('glue', 24)
format1

'name = glue, age = 24'

In [30]:
args = (4, 5)
calc(*args)

(9, 20)

In [34]:
d = {'one':1, 'two':2}
d.items()

[('two', 2), ('one', 1)]

In [35]:
isinstance(d.items(), list)

True

In [37]:
isinstance(d, dict)

True

In [136]:
d['one'] = 100
d

{'one': 100, 'two': 2}

In [142]:
d['three'] = 99
d

{'one': 100, 'three': 99, 'two': 2}

In [140]:
isinstance(d, dict)

True

In [40]:
symbol_to_name = {'H':'hydrogen', 'He':'helium', 'Li':'lithium', 'C':'carbon',
                 'O':'oxygen', 'N':'nitrogen'}
symbol_to_name[5] = 'some value'

In [41]:
symbol_to_name

{5: 'some value',
 'C': 'carbon',
 'H': 'hydrogen',
 'He': 'helium',
 'Li': 'lithium',
 'N': 'nitrogen',
 'O': 'oxygen'}

In [155]:
del symbol_to_name[5]

In [146]:
symbol_to_name

{'C': 'carbon',
 'H': 'hydrogen',
 'He': 'helium',
 'Li': 'lithium',
 'N': 'nitrogen',
 'O': 'oxygen'}

In [152]:
ret = symbol_to_name.pop('H')

In [153]:
ret

'hydrogen'

In [156]:
symbol_to_name.keys()

['C', 'O', 'N', 'Li', 'He']

In [157]:
symbol_to_name.values()

['carbon', 'oxygen', 'nitrogen', 'lithium', 'helium']

In [43]:
symbol_to_name.items()

[('C', 'carbon'),
 (5, 'some value'),
 ('H', 'hydrogen'),
 ('O', 'oxygen'),
 ('N', 'nitrogen'),
 ('Li', 'lithium'),
 ('He', 'helium')]

In [159]:
symbol_to_name.update({'b':'foo'})
# symbol_to_name['b'] = 'foo'

In [161]:
symbol_to_name['AA'] = 'hoho'

In [162]:
symbol_to_name

{'AA': 'hoho',
 'C': 'carbon',
 'He': 'helium',
 'Li': 'lithium',
 'N': 'nitrogen',
 'O': 'oxygen',
 'b': 'foo'}

In [163]:
mapping = {}
key_list = ['one', 'two', 'three']
value_list = [1, 2, 3]

In [168]:
zip(key_list, value_list)

[('one', 1), ('two', 2), ('three', 3)]

In [170]:
# list()를 지워도 상관 없다.
for key, value in list(zip(key_list, value_list)):
    mapping[key] = value
mapping

{'one': 1, 'three': 3, 'two': 2}

In [171]:
mapping1 = dict(zip(range(5), reversed(range(5))))
mapping1

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

In [174]:
isinstance(mapping1, dict)

True

In [173]:
a = zip(range(5), reversed(range(5)))
isinstance(a, list)

True

In [175]:
mapping1[4]

0

In [176]:
symbol_to_name.get('P', 'unknown')

'unknown'

In [187]:
symbol_to_name.get('He')

'helium'

# Set

In [188]:
# set은 중복지원하지 않음
set_val = set([2, 2, 2, 1, 3, 3])
set_val

{1, 2, 3}

In [197]:
set_val2 = {2, 3, 4, 5, 6, 7}
set_val2

{2, 3, 4, 5, 6, 7}

In [191]:
x = 10
set_val.add(x)

In [192]:
set_val

{1, 2, 3, 10}

In [193]:
set_val.remove(x)
set_val

{1, 2, 3}

In [198]:
set_val.union(set_val2)

{1, 2, 3, 4, 5, 6, 7}

In [199]:
set_val.intersection(set_val2)

{2, 3}

In [200]:
set_val.difference(set_val2)

{1}

In [201]:
set_val.issubset(set_val2)

False

In [202]:
set_val.issuperset(set_val2)

False

# indexing, slicing

In [203]:
smiles = 'C(=N)(N)N.C(=0)(0)0'
smiles

'C(=N)(N)N.C(=0)(0)0'

In [209]:
len(smiles)

19

In [204]:
smiles[0]

'C'

In [205]:
smiles[-1]

'0'

In [206]:
smiles[-2]

')'

In [210]:
smiles[10:18]

'C(=0)(0)'

In [214]:
smiles

'C(=N)(N)N.C(=0)(0)0'

In [266]:
# 10번째 index부터 4개를 출력
smiles[10:-4]

'C(=0)'

In [228]:
smiles[4:-4]

')(N)N.C(=0)'

In [11]:
asdf = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p']
print asdf

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p']

In [15]:
asdf[-2]

'o'

In [12]:
# 마지막 두 개 출력
asdf[-2:]

['o', 'p']

In [13]:
# 마지막 2개를 제외한 것들을 출력
asdf[:-2]

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n']

In [14]:
# 10번째 index에서 시작, 마지막 2개 제외 출력
asdf[10:-2]

['k', 'l', 'm', 'n']

In [24]:
s = 'start,game programming,bigdata,data analysis'

In [230]:
s.count('game')

1

In [231]:
s.find('g')

6

In [232]:
s.rfind('m')

18

In [233]:
s.index('g')

6

In [236]:
s.startswith('f')

False

In [237]:
s.endswith('f')

False

In [238]:
s.strip()

'start,game programming,bigdata,data analysis'

In [242]:
s.rstrip()

'start,game programming,bigdata,data analysis'

In [251]:
a = s.split()
a

['start,game', 'programming,bigdata,data', 'analysis']

In [249]:
s.split(',')

['start', 'game programming', 'bigdata', 'data analysis']

In [252]:
':'.join(a)

'start,game:programming,bigdata,data:analysis'

In [253]:
s.splitlines()

['start,game programming,bigdata,data analysis']

In [25]:
s.center(100, '-')

'----------------------------start,game programming,bigdata,data analysis----------------------------'

# 함수

In [284]:
a = 10
b = 20
def swap(x, y):
    return y, x

a, b = swap(a, b)
a, b

(20, 10)

In [286]:
c = 10; d = 30
d, c = c, d
c, d

(30, 10)

In [287]:
divmod(9, 5)

(1, 4)

In [304]:
def pr(a, b):
    a = a + 100
    b = b + 100
    total = a + b
    #print total

In [305]:
pr(1, 2)

In [299]:
def pr(a, b):
    a = a + 100
    b = b + 100
    total = a + b
    print total
    return a, b, total

In [303]:
x, y, tot = pr(10, 20)
x, y, tot

(110, 120, 230)

In [306]:
pr(2, 3)

In [5]:
#h = 100
def f(a):
    #global h
    h = 100
    h = a + 10
    print h

In [6]:
f(1)

11

In [7]:
h

NameError: name 'h' is not defined

In [1]:
def ff(a):
    global hh
    hh = 100
    hh = a + 10
    print '', hh

In [2]:
ff(1)

 11

In [4]:
hh

11

# lambda

In [19]:
# lambda함수를 이렇게 쓰면 의미가 없다
g = lambda x, y : x + y
print(g(1,2))

3

In [18]:
(lambda x, y : x + y)(10, 20)

30

In [20]:
(lambda x, incr = 1 : x + incr)(10)

11

In [21]:
(lambda x, incr = 1 : x + incr)(10, 5)

15

In [32]:
# x = 1, *args = 2, 3, 4, 5
# return? print? 는 args만 되도록 했으므로 출력은 2, 3, 4, 5만 나온다
(lambda x, *args : args)(1, 2, 3, 4, 5)

(2, 3, 4, 5)

# Closure

In [48]:
def make_closer(a):
    def closure():
        print 'i know the sector: %d' % a
    return closure

In [49]:
closure = make_closer(5)
closure()

i know the sector: 5

In [50]:
def make_watcher():
    have_seen = {}
    def has_been_seen(x):
        if x in have_seen:
            return True
        else:
            have_seen[x] = True
            return False
    return has_been_seen

In [61]:
aa = {}
aa[5] = True
aa

{5: True}

In [59]:
watcher = make_watcher()
vals = [5, 6, 1, 5, 1, 6, 3, 5]
[watcher(x) for x in vals]

[False, False, False, True, True, True, False, True]

In [62]:
def format_and_pad(template, space):
    def formatter(x):
        return (template % x).rjust(space)
    return formatter

In [64]:
fmt = format_and_pad('%.4f', 15)
fmt(1.756)

'         1.7560'

In [66]:
('%.4f' % 1.756).rjust(15)

'         1.7560'

In [74]:
def make_counter():
    count = [0]
    def counter():
        count[0] += 1
        return count[0]
    return counter

In [70]:
asdf = make_counter()
asdf()

1

In [76]:
def say_hello_then_call(f, *args, **kwargs):
    print 'args is', args
    print 'kwargs is', kwargs
    print 'hello now i\'m going to call %s' % f
    return f(*args, **kwargs)

In [88]:
def g(x, y, a, b, z = 1):
    print x
    print y
    print z
    return (x + y) / z * a * b

In [89]:
say_hello_then_call(g, 1, 2, 3, 4, z = 5.)

args is (1, 2, 3, 4)
kwargs is {'z': 5.0}
hello now i'm going to call <function g at 0x7fcf883208c0>
1
2
5.0

7.199999999999999

# Currying

In [110]:
def add_number(x, y):
    return x + y

In [101]:
add_five = lambda y : add_number(5, y)
add_five(10)

15

In [102]:
(lambda y : add_number(5, y))(10)

15

In [111]:
add_number(5, y)

NameError: name 'y' is not defined

In [109]:
del y

In [103]:
from functools import partial
partial(add_number, 5)(10)

15

In [114]:
def fff(x):
    return x * x

In [116]:
x = [1, 2, 3, 4, 5]
y = list(map(fff, x))
y

[1, 4, 9, 16, 25]

In [119]:
# filter사용법 -> filter(함수, 리스트)
filter(lambda x : x > 2, [1, 2, 3, 34])

[3, 34]

In [120]:
import functools

In [121]:
functools.reduce(lambda x, y : x + y, [1, 2, 3, 4, 5])

15

# Generator

In [141]:
def square(n = 10):
    print 'generating squares from 1 to %d' % (n ** 2)
    for i in range(1, n + 1):
        yield i ** 2

In [140]:
for x in square():
    print(x, )

generating squares from 1 to 100.000000
(1,)
(4,)
(9,)
(16,)
(25,)
(36,)
(49,)
(64,)
(81,)
(100,)

In [174]:
ten = range(10)
it = iter(list(ten))
it.__next__()

AttributeError: 'listiterator' object has no attribute '__next__'

In [146]:
from datetime import datetime, date, time

In [147]:
dt = datetime(2016, 7, 30, 19, 0, 3)
dt.day

30

In [151]:
dt.minute

datetime.date(2016, 7, 30)

In [150]:
dt.date()

datetime.date(2016, 7, 30)

In [152]:
dt.time()

datetime.time(19, 0, 3)

In [176]:
dt.strftime('%m/%d/%Y %H:%M')

'07/30/2016 19:00'

In [175]:
dt.strptime('20160730', '%Y%m%d')

datetime.datetime(2016, 7, 30, 0, 0)

In [159]:
dt.replace(minute = 0, second = 0)

datetime.datetime(2016, 7, 30, 19, 0)

In [160]:
dt2 = datetime(2011, 11, 15, 22, 30)
dt2

datetime.datetime(2011, 11, 15, 22, 30)

# Class

In [2]:
class Employee:
    empCount = 0
    # private 변수
    __empCount = 1
    
    def __init__(self, name, salary):
        self.name = name
        self.salary = salary
        Employee.empCount += 1
        #__empCount = 1
        
    def displayCount(self):
        print '직원 수 = %d' % Employee.empCount
    
    def displayEmployee(self):
        print '이름: ', self.name, ', 급여: ', self.salary
    
    def __call__(self, *pargs, **kargs):
        print 'called', pargs, kargs

In [4]:
emp = Employee('김종호', 500)
emp.displayCount()

직원 수 = 1

In [183]:
emp1 = Employee('빅데타', 500)

In [184]:
emp1.displayEmployee()

이름:  빅데타 , 급여:  500

In [187]:
emp1.displayCount()

직원 수 = 4

In [5]:
emp('빅데타', 500, 100, 5, c = 100)

called ('\xeb\xb9\x85\xeb\x8d\xb0\xed\x83\x80', 500, 100, 5) {'c': 100}

In [22]:
class Management:
    print '성적 프로그래밍 토대'
    sungjuk = []
    def input(self):
        for co_in in range(3):
            person = []
            name = input('이름입력:')
            kor = input('국어점수:')
            mat = input('수학점수:')
            eng = input('영어점수:')
            person.append(name)
            person.append(kor)
            person.append(mat)
            person.append(eng)
            Management.sungjuk.append(person)
            
    def print_sungjuk(self):
        for per in range(3):
            for num in range(6):
                print Management.sungjuk[per][num]
            print()
            
    def calc_sungjuk(self):
        for per in range(3):
            total = 0
            average = 0
            for num in range(3):
                total += int(Management.sungjuk[per][num+1])
            average = round(total / 3, 2)
            Management.sungjuk[per].append(total)
            Management.sungjuk[per].append(average)

성적 프로그래밍 토대

In [12]:
man_sung = Management()

In [16]:
man_sung.input()

이름입력:'김'
국어점수:90
수학점수:90
영어점수:90
이름입력:

SyntaxError: unexpected EOF while parsing (<string>, line 0)

In [17]:
man_sung.calc_sungjuk()

IndexError: list index out of range

In [18]:
man_sung.print_sungjuk()

김
90
90
90
270
90.0
()

IndexError: list index out of range